  <div class="row">
    <div class="row">
      <div class="col-md-2">
        <label>My Todos<label>
      </div>
      <div class="col-md-3">
        <a ng-click="addTodo()">create todo</a>
      </div>
    </div>
    
    <hr />

    <div style="height: 200px !important; overflow: scroll;">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="todos.length" ng-repeat="todo in todos">
            <td>{{todo.id}}</td>
            <td>{{todo.title}}</td>
            <td>{{todo.description}}</td>
            <td>{{todo.status}}</td>
            <td>
              <a class="btn btn-success" ng-click="editTodo(todo)">edit</a>
              <a class="btn btn-danger" ng-click="deleteTodo(todo)">delete</a>
            </td>
          </tr>
          <tr ng-show="!todos.length">
            <td>
              <a ng-click="addTodo()">you better start adding todos!!...</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>

<br/>
