<div class="container">
  <div class="row">
    <fieldset>
      <legend>Todo</legend>
      
      <div class="row">
        <div class="col-md-2">
            <label>Title</label>
        </div>
      
        <div class="col-md-3">
          <input class="form-control" ng-model="todo.title"/>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="col-md-2">
            <label>Status</label>
        </div>
        <div class="col-md-3">
          <select class="form-control" ng-model="todo.status">
            <option value="">[Select Status]</option>
            <option>PENDING</option>
            <option>DONE</option>
          </select>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="col-md-2">
            <label>Description</label>
        </div>
        <div class="col-md-8">
          <textarea class="form-control" rows="3" cols="20" ng-model="todo.description"></textarea>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="col-md-offset-9">
          <button class="btn btn-success" ng-show="todo.id == null" ng-click="createOrUpdate()">Create</button>
          <button class="btn btn-success" ng-show="todo.id != null" ng-click="createOrUpdate()">Update</button>
          <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>
      </div>

      <br/>

    </fieldset>
  </div>

  <br/>
</div>